{%extends "base.html"%}
{%block top%}<li><a href="/login"><span></span> Login</a></li>{%endblock%}
{%block body%}
<div id="signup-form" class="panel panel-default">
 <form id="form-style" action="/signup" method="POST">
    {{ form.csrf_token }} 
    <div class="form-group">
     <label for="first_name">First name:</label>
     <input type="text" class="form-control" name="form.first_name" required>
	</div>
	<div class="form-group">
     <label for="pwd">Last name:</label>
     <input type="text" class="form-control" name="form.last_name" required>
    </div>
  
    <div class="form-group">
     <label for="email">Email address:</label>
     <input type="email" class="form-control" name="form.email" required>
    </div>
	{{ form.csrf_token }}
    <div class="form-group">
     <label for="pwd">Password:</label>
     <input type="password" class="form-control" name="form.password" required>
    </div>
    <div class="form-group">
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  {{ form.csrf_token }}
  </div>
</form>
</div>
{%endblock%}